@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url("https://use.typekit.net/hlt4mqg.css");

$font-family : futura-pt, sans-serif;
$text-color :#383838;
$primary-color: #14CF93;
$secondary-color: #FCFAF8;