:root {
  --btn-color: #14cf93;
  --pane-padding: 5px 42px;
}
.center-div h1 {
  text-align: center;
}
.containeur-form-register {
  width: 90%;
  max-width: 550px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
  padding: 50px 0;
  border-radius: 20px;
}

.custom-register {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.custom-register-img {
  display: flex;
  flex-direction: column;
}
.custom-register-img input {
  margin: 5px 0;
}
.custom-register label {
  padding-bottom: 3px;
}
.custom-register input {
  border: var(--btn-color) solid 1px;
  height: 25px;
  border-radius: 5px;
  outline: none;
}
.btn-register {
}

.center-div {
  margin: 40px auto;
  width: 90%;
  max-width: 600px;
  min-height: 90vh;
}
.center-div-template {
  width: 90%;
  padding: 10px 0;
  max-width: 600px;
  margin: 0 auto;
}
.section {
  margin: 0 auto;
  width: 90%;
  max-width: 400px;
}
.btn-submit {
  margin: 20px 0;
  padding: 8px 35px;
  color: white;
  border: none;
  background-color: var(--btn-color);
  border-radius: 5px;
}
.mail-form,
.password-form {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.mail-form input,
.password-form input {
  padding: 2px 5px;
  border: var(--btn-color) solid 1px;
  height: 25px;
  border-radius: 5px;
  outline: none;
}

.containeur-form-new {
  width: 90%;
  max-width: 550px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
  padding: 50px 0;
  border-radius: 20px;
}
.containeur-form-new form {
  max-width: 400px;
  width: 90%;
  margin: 0 auto;
}
.containeur-form-new h1 {
  text-align: center;
}

#promotion,
#ressource,
#social,
#template {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}
#promotion div,
#ressource div,
#social div,
#template div {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.back-div {
  margin: 10px auto;
  width: 100%;
  max-width: 400px;
}
#promotion input,
#promotion select,
#ressource input,
#social input,
#template input {
  border: var(--btn-color) solid 2px;
  height: 25px;
  border-radius: 5px;
  outline: none;
}
#promotion select {
  margin: 2px 0;
}
#ressource_imageFile {
  border: none !important;
}
