{% extends 'base.html.twig' %}

{% block title %}Ressource {% endblock %}

{% block body %}
    <h1>Modification de la ressource</h1>

    {{ include('dashboard/new/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

      <a href="{{ path('app_dashboard') }}">Revenir sur le Tableau de bord</a>

    {{ include('test/_delete_form.html.twig') }}
{% endblock %}


  