{% extends 'base.html.twig' %}

{% block title %}New Social{% endblock %}

{% block body %}
    <h1>Create new Social</h1>

    {{ include('dashboard/new/_form.html.twig') }}

    <a href="{{ path('app_dashboard') }}">back to list</a>
{% endblock %}
