<footer class="p-20">
    <div>
        <div class="footerLogo primaryColor">Adl.</div>
        <p>Le meilleur outils de gestion de bio pour influenceur</p>
    </div>
    <div class="link_section mt-20">
        <div>
            <p class="titleFooterLink mb-10">All dev long</p>
            <p><a href="">Accueil</a></p>
            <p><a href="">Nous contacter</a></p>
            <p><a href="">Notre équipe</a></p>
        </div>
        <div>
            <p class="titleFooterLink mt-20 mb-10">Légal</p>
            <p><a href="">Conditions générales d'utilisation</a></p>
            <p><a href="">Politique de confidentialité</a></p>
            <p><a href="">Mention légales</a></p>
        </div>
        <div>
            <p class="titleFooterLink mt-20 mb-10">Réseaux</p>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
        </div>
    </div>
</footer>